.pageSearchMovie {
  margin: 20px;
}
.movieSearchList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  font-weight: 700;
  font-size: 15px;
}
.movieSearchList li {
  margin: 15px;
  color: black;
}
.buttonSearchMovie {
  width: 150px;
  height: 30px;
  font-weight: 700;
  font-size: 20px;
}
.SearchForm-input {
  margin-left: 20px;
  height: 25px;
  width: 300px;
}
